/*
  Was having issues aligning nav bar and other margins around page so
  have used a browser reset to ensure every browser displays what I want
  it to display.
  Following code from:
  http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*End of browser reset code */


/* GENERAL STYLES FOR PAGE */

body {
    background-color: black;
}

p {
    color: white;
    text-align: center;
    font-family: 'Open Sans Condensed', courier;
}

h3 {
    font-size: 3em;
    font-family: fantasy;
    color: white;
    text-decoration: none;
    text-align: left;
}

h3:hover {
    color: #f4a460;
}


/*Helps let people know it is a link */

h4 {
    font-size: 2em;
    font-style: italic;
    color: white
}


/*EVERYTHING IN HEADER AREA INCLUDING NAV BAR */

header {
    display: block;
    /*to ensure nothing goes next to it */
    background-image: url("NavBack.jpg");
    filter: grayscale(100%);
    width: 100%;
    margin-bottom: 1%;
    padding-top: 1%;
    border-bottom: 0.1em solid gray;
}

nav {
    /*NavBar*/
    width: 100%;
    display: block;
    text-align: center;
}

nav .cell {
    width: 32.4%;
    height: auto;
}

nav .cell:hover {
    background-color: #000;
}

#mainNav ul * {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

h1 {
    color: white;
    font-weight: bolder;
    text-decoration: double;
    animation-name: PCymru;
    animation-duration: 1s;
    text-align: center;
    animation-fill-mode: forwards; /*To ensure when animation finished it would not revert to pre animation state */
    font-family: 'Open Sans Condensed', courier;
    margin: -0.5%;
    padding: 0;
}

@keyframes PCymru { /*To make a smooth anomation for the text to appear */
    0% {
        font-size: 0;
    }
    5% {
        font-size: 0.125em;
    }
    10% {
        font-size: 0.25em;
    }
    15% {
        font-size: 0.375em;
    }
    20% {
        font-size: 0.5em;
    }
    25% {
        font-size: 0.625em;
    }
    30% {
        font-size: 0.750em;
    }
    35% {
        font-size: 0.875em;
    }
    40% {
        font-size: 1em;
    }
    45% {
        font-size: 1.125em;
    }
    50% {
        font-size: 1.25em;
    }
    55% {
        font-size: 1.375em;
    }
    60% {
        font-size: 1.5em;
    }
    65% {
        font-size: 1.625em;
    }
    70% {
        font-size: 1.750em;
    }
    75% {
        font-size: 1.875em;
    }
    80% {
        font-size: 2em;
    }
    85% {
        font-size: 2.125em;
    }
    90% {
        font-size: 2.25em;
    }
    95% {
        font-size: 2.375em;
    }
    100% {
        font-size: 2.5em;
    }
}

header p {
    color: white;
}


/*END OF HEADER AREA*/

.minister {
    font-family: 'Open Sans Condensed', courier;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-bottom: 0.2em dotted gray;
    border-radius: 5%;
    color: black;
    text-align: center;
}

.minister img {
    width: 80%;
    margin: auto;
    display: inline;
}

.minister:last-child {
    border-bottom: 0em solid black;
    /*To get rid of line at bottom of page */
}

.minister:hover { /*To show text only when hovered over */
    /* Reference: Code inspired by code from http://www.w3schools.com/css/css3_gradients.asp -->
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, gray);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, gray);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, gray);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, gray);
    /* Standard syntax
		END of referenced code */
}

.cabinet {
    margin: auto;
    width: 90%;
}

footer {
    overflow: hidden;
    display: block;
    width: 100%;
    clear: both;
    /*To ensure it is at bottom of page and can spread across page */
    margin-top: 2%;
    background-image: url('footer.jpg');
    filter: grayscale(100%);
}
