/*
  Was having issues aligning nav bar and other margins around page so
  have used a browser reset to ensure every browser displays what I want
  it to display.
  Following code from:
  http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*End of browser reset code */

.container {
  width: 100%;

}
/*EVERYTHING IN HEADER AREA INCLUDING NAV BAR */
header  {
	display: block;
	position: block;
  background-color: #BCE5FA;
  width: 100%;
  margin-bottom: 2%;
  border-bottom: 0.2em solid black;
}
/*Area where picture is located*/
.logo {
  display: block;
  width: 100%;
}
/* logo image*/
header img {
	width:20%;
	height: auto;
	display: block;
	margin:auto;
	padding: 1%;
}



nav {				/*NavBar*/
	display: block;
	text-align: center;
	padding-bottom: 2%;
}

nav .cell {
  width: 32.4%;
  text-align: center;
}

#mainNav ul * {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}


/*FEATURE IMAGE*/

@keyframes fade {
	0% {opacity: 0.1;}
	25% {opacity: 0.25;}
	50% {opacity: 0.5;}
	75% {opacity: 0.75;}
	100% {opacity: 1;}
}

.feature {
  width: 80%;
  margin: auto;
  clear: both;
  margin-bottom: 2%;
}

.feature img {
  width: 80%;
  height: auto;
  display: block;
  margin-left:auto;
  margin-right: auto;
	animation-name: fade;
	animation-duration: 10s;
	animation-timing-function: ease-in;
}

/*COLUMNS BELOW FEATURE*/


.column-1 {
  width: 24%;
  float: left;
  display: inline;
  margin-right: 1%;
  border: 1px solid red;
}

.column-2 {
  width: 45%;
  float: left;
  display: inline;
  margin-right: 1%;
  border: 1px solid red;
}

.column-4 {
  width: 24%;
  float: left;
  display: inline;
  border: 1px solid red;
}

.section-2 {
  width: 100%;
}

.section-3 {
  width: 100%;
}

.twitter-timeline {
  width: 100%;
  margin: auto;
  border: 0.2em solid blue;
}


p {
  color: blue;
  text-align: center;
}
